<!DOCTYPE html>
<html>
    <head>
        <title>GarbageCollection - Complainment Recieved</title>
    </head>
    <body>
        <nav>
            <a href="/home">Home</a> |
            <a href="/app">App</a> |
            <a href="/complainment">Complanment</a> |
        </nav>
        <br>
        <br>
        <h1>An Error Occured!<h1>
    </body>
</html>
